.main {
    padding-left: 220px;
    padding-top: 1rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.5em;
    letter-spacing: 2px;
}

.section {

    box-shadow: 0 4px 24px 0 #00000055;
    border-radius: 18px;

    transition: box-shadow 0.2s;
    background-color: #1d009c96;
    /* padding-bottom: 15px; */
    min-height: 300px; /* Aumenta la altura mínima de la sección */
}

.centeredMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.centeredBox {
    backdrop-filter: blur(10px);
    background: linear-gradient(270deg, rgba(255, 255, 255, 0.13), #0a089157, #0a0891be);
    animation: gradient 15s ease infinite;
    border-radius: 30px;
    border: 2px solid rgba(255, 255, 255, 0.151);
    box-shadow: 2px 20px 16px rgba(0, 0, 0, 0.479);
    backdrop-filter: blur(10px);
    color: #fff;
    padding: 2.5rem 2.5rem 2rem 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 420px;
    width: 100%;
}

.centeredMsg {
    color: #bfc6e6;
    font-size: 1.18rem;
    margin-top: 1.2rem;
    text-align: center;
    font-weight: 500;
}

.loginBtn {
    font-weight: bold;
}

.loginBtn:hover {
    text-decoration: underline;
}

.mainScrollable {
    height: 100vh;
    overflow-y: auto;
    /* Para evitar doble scroll en body, puedes poner body { overflow: hidden } en globals.css si hace falta */
}