.main {
    padding-left: 220px;
    padding-top: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
}

.title {
    font-family: 'Montserrat', 'Segoe UI', 'Arial', sans-serif;
    font-size: 1.45rem;
    font-weight: 700;
    margin-bottom: 0.35em;
    letter-spacing: 0.09em;
    color: #ffffff;
    text-shadow: 0 2px 12px #140e9a33, 0 4px 0 #09095ea8;
    position: relative;
    padding-left: 0.2em;
    padding-bottom: 0.32em;
    background: none;
    line-height: 1.18;
    transition: color 2s, text-shadow 0.2s;
}
.title::after {
    content: '';
    display: block;
    position: absolute;
    left: 0.2em;
    bottom: 0;
    width: 75em;
    height: 3px;
    border-radius: 2px;
    background: linear-gradient(90deg, #4d04c2 0%, #351eff00 100%);
    opacity: 0.65;
}
.titleNotLogged{
    font-family: 'Montserrat', 'Segoe UI', 'Arial', sans-serif;
    font-size: 1.45rem;
    font-weight: 700;
    margin-bottom: 0.35em;
    letter-spacing: 0.09em;
    color: #ffffff;
    text-shadow: 0 2px 12px #140e9a33, 0 4px 0 #09095ea8;
    position: relative;
    padding-left: 0.2em;
    padding-bottom: 0.32em;
    background: none;
    line-height: 1.18;
    transition: color 2s, text-shadow 0.2s;

}
.section {

    box-shadow: 0 4px 24px 0 #00000055;
    border-radius: 18px;

    transition: box-shadow 0.2s;
    background-color: #1d009c96;
    /* padding-bottom: 15px; */
    min-height: 300px; /* Aumenta la altura mínima de la sección */
}

.centeredMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.centeredBox {
    backdrop-filter: blur(10px);
    background: linear-gradient(270deg, rgba(255, 255, 255, 0.13), #0a089157, #0a0891be);
    animation: gradient 15s ease infinite;
    border-radius: 30px;
    border: 2px solid rgba(255, 255, 255, 0.151);
    box-shadow: 2px 20px 16px rgba(0, 0, 0, 0.479);
    backdrop-filter: blur(10px);
    color: #fff;
    padding: 2.5rem 2.5rem 2rem 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 420px;
    width: 100%;
}

.centeredMsg {
    color: #bfc6e6;
    font-size: 1.18rem;
    margin-top: 1.2rem;
    text-align: center;
    font-weight: 500;
}

.loginBtn {
    font-weight: bold;
}

.loginBtn:hover {
    text-decoration: underline;
}

/* .mainScrollable {
    height: 100vh;
    overflow-y: auto;
    /* Para evitar doble scroll en body, puedes poner body { overflow: hidden } en globals.css si hace falta */
